.profile-container {
    margin-top: 3rem;
    background-color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profile-container h1 {
    margin-bottom: 1rem;
}

.profile-container h2 {
    margin-bottom: 1rem;
}

.profile-container button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-container button:hover {
    background-color: #777;
}