
.login-container {
    margin-top: 3rem;
    background-color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 1rem;
}

.login-container input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

.login-container button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

.login-container button:hover {
    background-color: #777;
}


.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
}

.search-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #777;
}