<!DOCTYPE html>
<html lang="en">
    <head>
        <title="farrrr"></title>
        <meta property="og:type" content="website">
        <meta property="og:title" content="farrr">
        <meta property="og:description" content="I am a student, back-end software developer and a table tennis player.">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
    <center>
        <br><br><br><br>
        <h1>Hi! I'm farrrr</h1>
        <span id="iam" class=""> I am 
            <span id="typewriter-loop"></span>
          </span>
    </center>
    <script src="/static/typing.js"></script>
    <script src="/static/app.js"></script>
    </body>
</html>